@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);


body
{
	width: 600px;
	margin: auto;
	font-family: 'Droid Sans';
}


pre.code
{
	font-family: Consolas;
	padding: 10px 14px;
	background-color: #662032;
	border: 1px solid gray;
	border-radius: 6px;
	color: white;
  font-size: 12px;
}


div.listing_container
{
	margin-top: 2px;
  border-radius: 2px;
  background-color: #efefef;
  padding: 11px 16px 9px 16px;
  color: #909090;
  font-size: 13px;
}

div.listing_container p
{
  margin: 5px 0 0px 0;
  padding: 0;
}


h2
{
  margin-top: 50px;
  font-size: 42px;
  border-bottom: 3px solid #db0f53;
  font-weight: normal;
  color: #db0f53;
}

H3
{
  margin: 0;
  padding: 0;
  color: black;
  font-family: consolas;
  font-size: 15px;
}

p.todo
{
	background-color: #ffffee;
	font-size: 80%;
	color: #f16e26;
	padding: 7px 14px;
	border: 1px solid #f16e26;
}

table.comprehensive
{
  font-size: 8px;
}
