@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);


body
{
	width: 600px;
	margin: auto;
	font-family: 'Droid Sans';
}


pre.code
{
	font-family: Consolas;
	padding: 10px 20px;
	background-color: #efefef;
	border-radius: 6px;
	color: gray;
  font-size: 12px;
}

h2
{
  margin-top: 60px;
  font-size: 42px;
  border-bottom: 3px solid #db0f53;
  font-weight: normal;
  color: #db0f53;
}

H3
{
	margin-top: 50px;
}

p.todo
{
	background-color: #ffffee;
	font-size: 80%;
	color: #f16e26;
	padding: 7px 14px;
	border: 1px solid #f16e26;
}

table.comprehensive
{
  font-size: 8px;
}
