

body
{
	width: 600px;
	margin: auto;
	font-family: 'Droid Sans';
}


pre.code
{
	font-family: Consolas;
	padding: 10px 20px;
	background-color: #efefef;
	border-radius: 6px;
	color: gray;
	font-weight: bold;
}

code
{
	font-family: Consolas;
	color: gray;
	font-weight: bold;
	background-color: #efefef;
	padding: 1px 2px;
}

H3
{
	margin-top: 50px;
}

p.todo
{
	background-color: #ffffee;
	font-size: 80%;
	color: #f16e26;
	padding: 7px 14px;
	border: 1px solid #f16e26;
}



